body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#gameCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
}

