<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slither.io Clone</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <h1>Votre accélération : <a id="speed">test</a></h1>
  <canvas id="gameCanvas" width="800" height="600"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="static/script.js"></script>
</body>
</html>
